@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600&display=swap');



$background: white;

/* Color Theme Swatches in HSLA */
$first-color: hsla(197, 36%, 47%, 1);
$second-color: hsla(174, 41%, 56%, 1);
$third-color: hsla(33, 77%, 77%, 1);
$forth-color: hsla(33, 61%, 86%, 1);
$fifth-color: hsla(0, 0%, 94%, 1);

$first-color-d: hsla(197, 36%, 27%, 1);
$second-color-d: hsla(174, 41%, 36%, 1);
$third-color-d: hsla(33, 77%, 57%, 1);
$forth-color-d: hsla(33, 61%, 66%, 1);
$fifth-color-d: hsla(0, 0%, 74%, 1);

$first-color-l: hsla(197, 36%, 57%, 1);
$second-color-l: hsla(174, 41%, 66%, 1);
$third-color-l: hsla(33, 77%, 87%, 1);
$forth-color-l: hsla(33, 61%, 96%, 1);
$fifth-color-l: hsla(0, 0%, 100%, 1);


body{
    /* background-color: rgb(205, 210, 222); */
    margin: 0px;
}

h1, h2, h3, h4, p, a{
    font-family: 'Fredoka';
    font-weight: normal;
}

.a-frame{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.first-color {
    background-color: $first-color;
}
.second-color {
    background-color: $second-color;
}
.third-color {
    background-color: $third-color;
}
.forth-color {
    background-color: $forth-color;
}
.fifth-color {
    background-color: $fifth-color;
}

.first-color-font {
    color: $first-color;
}
.second-color-font {
    color: $second-color;
}
.third-color-font {
    color: $third-color;
}
.forth-color-font {
    color: $forth-color;
}
.fifth-color-font {
    color: $fifth-color;
}