@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600&display=swap');



$background: white;

/* Color Theme Swatches in HSLA */
$first-color: rgb(114, 163, 77);
$second-color: hsla(174, 41%, 56%, 1);
$third-color: rgb(185, 79, 43);
$forth-color: hsla(33, 61%, 86%, 1);
$fifth-color: hsla(0, 0%, 94%, 1);

$first-color-d: hsla(197, 36%, 27%, 1);
$second-color-d: hsla(174, 41%, 36%, 1);
$third-color-d: hsla(33, 77%, 57%, 1);
$forth-color-d: hsla(33, 61%, 66%, 1);
$fifth-color-d: hsla(0, 0%, 74%, 1);

$first-color-l: hsla(197, 36%, 57%, 1);
$second-color-l: hsla(174, 41%, 66%, 1);
$third-color-l: hsla(33, 77%, 87%, 1);
$forth-color-l: hsla(33, 61%, 96%, 1);
$fifth-color-l: hsla(0, 0%, 100%, 1);


body{
    background-color: $fifth-color; 
    margin: 0px;
}

h1, h2, h3, h4, p, a{
    font-family: 'Fredoka';
    font-weight: normal;
}

.a-frame{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.spacer {
    height: 40px;
}

.first-color { background-color: $first-color; }
.second-color { background-color: $second-color; }
.third-color { background-color: $third-color; }
.forth-color { background-color: $forth-color; }
.fifth-color { background-color: $fifth-color; }

.first-color-font { color: $first-color; }
.second-color-font { color: $second-color; }
.third-color-font { color: $third-color; }
.forth-color-font { color: $forth-color; }
.fifth-color-font { color: $fifth-color; }

// Dark
.first-color-d { background-color: $first-color-d; }
.second-color-d { background-color: $second-color-d; }
.third-color-d { background-color: $third-color-d; }
.forth-color-d { background-color: $forth-color-d; }
.fifth-color-d { background-color: $fifth-color-d; }

.first-color-font-d { color: $first-color-d; }
.second-color-font-d { color: $second-color-d; }
.third-color-font-d { color: $third-color-d; }
.forth-color-font-d { color: $forth-color-d; }
.fifth-color-font-d { color: $fifth-color-d; }

// Light
.first-color-l { background-color: $first-color-l; }
.second-color-l { background-color: $second-color-l; }
.third-color-l { background-color: $third-color-l; }
.forth-color-l { background-color: $forth-color-l; }
.fifth-color-l { background-color: $fifth-color-l; }

.first-color-font-l { color: $first-color-l; }
.second-color-font-l { color: $second-color-l; }
.third-color-font-l { color: $third-color-l; }
.forth-color-font-l { color: $forth-color-l; }
.fifth-color-font-l { color: $fifth-color-l; }