.buttons {
    background: black;
    display: none;
}

#splash {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0033AE;
    top: 0px;
    left: 0px;
    animation-name: fade-out;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

#splash img{
    position: relative;
    margin: 0 auto;
    display: block;
    top: 40%;
}


#splash p{
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    text-align: center;
    font-size: larger;
    top: 41%;
    position: relative;
}

@keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
}

#home {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.background-home {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    top: 0px;
    left: 0px;
}

#home header{
    position: relative;
    background: white;
    height: auto;
    display: flex;
    flex-direction: column;
    /* border-bottom: 1px outset #ddd; */
}

#home header .btn{
    margin: 13px;
    font-size: 20px;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    color: black;
    border: none;
    padding: 0px 5px;
}

#home header img{
    position: relative;
    margin: 0 auto;
    display: block;
    width: 40px;
    top: 20px;
}

#home .search-container {
    margin: 0 auto;
    text-align: center;
}

#home .search-container form {
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 50px;
    width: 200px;
    margin: 30px auto;
}

#home .search-container input[type=search] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
}

#home .search-container input[type="search"]::placeholder {
    color: #bbb;
}

#home .search-container button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }

#home main#scene-1{
    display: none;
    overflow-y: scroll;
    position: relative;
    background-color: #fafafa;
    height: 100%;
    margin-top: 40px;
    transform: translateX(100%);
    transition: transform 0.5s linear;
}

.swap-1 {
    transform: translateX(0%) !important;
}



#home main#scene-1 h3{
    font-family: 'MontserratMedium';
    margin: 15px 30px;
}
#home .category {
    top: 40px;
    position: relative;
    white-space: nowrap;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    font-family: "MontserratMedium";
    overflow-y: scroll;
    height: 20px;
    background: #eee;
    width: 100%;
}

#home .category li{
    display: inline;
    margin: 10px 10px;
    padding: 10px;
}

#home .category li:first-child{
    border-bottom: 2px solid #0033AE;
}

#home .products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

#home .products .product-container{
    background: white;
    border-radius: 20px;
    width: 90%;
    margin: 10px auto;
    box-shadow: 3px 3px 12px #dddddd;
}

#home .products .product-container .image-container{
    width: 30%;
    height: 100%;
    float: right;
}

#home .products .product-container .image-container .image{
    background: #eee;
    width: 80px;
    height: 70px;
    margin: 10px;
    border-radius: 10px;
}

#home .products .product-container .image-container img{
    width: 50px;
    height: auto;
    margin: 0px auto;
    display: block;
}

#home .products .product-container .product-content{
    height: auto;
    width: 70%;
}

#home .products .product-container .product-content .description{
    width: 50%;
    display: inline-block;
    margin: 0 20px;
}
#home .products .product-container .product-content .price{
    width: 30%;
    display: inline;
    font-family: "MontserratMedium";
    font-size: 0.8em;
}

#home .products .product-container .product-content .title{
    font-family: "MontserratMedium";
}
#home .products .product-container .product-content .subtitle{
    font-family: "MontserratExtraLight";
    font-size: 0.8em;
}

#home footer{
    position: absolute;
    width: 100%;
    bottom: 0;
}

#home .footer {
    white-space: nowrap;
    list-style-type: none;
    margin: 0;
    padding: 5px 10px;
    font-family: "MontserratMedium";
    /* overflow: scroll; */
    /* height: 30px; */
    background: #eee;
    /* width: 100%; */
    display: flex;
    justify-content: space-evenly;
}

#home .footer li{
    display: inline-block;
    padding: 10px;
    font-size: 0.9em;
    line-height: 0.3;
    padding: 0px 10px 5px;
}

#home .footer .foot-item{
    text-align: center;
}

#home .footer .foot-item i{
    padding: 10px;
}

#home main#scene-ar{
    /* display: none; */
    position: relative;
    /* background-color: #fafafa; */
    height: 100%;
    margin-top: 40px;
    transform: translateX(0%);
    transition: transform 0.5s linear;
}

.swap-2 {
    transform: translateX(-100%) !important;
}

#home main#scene-ar .description{
    position: absolute;
    top: 10px;
    right: 0px;
    display: block;
    width: 180px;
    font-family: monospace;
}

#home main#scene-ar .description .plus{
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 24px;
    color: black;
    font-weight: bolder;
    background-color: white;
    width: 20px;
    height: 30px;
    border-radius: 50px;
    padding: 0px 5px;
    text-align: center;
    transform: rotate(45deg);
    /* box-shadow: 0px 0px 10px black; */
    transition: background-color 0.5s, transform 0.5s;
}

.cross {
    color: white !important;
    background-color: lightgray !important;
    transform: rotate(0deg) !important;
}

#home main#scene-ar .description .content-desc{
    padding: 10px;
    position: absolute;
    top: 0px;
    background-color: lightgrey;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    right: 20px;
    opacity: 0;
    transition: all 0.6s;
}

/* #home main#scene-ar .description .content-desc h4, #home main#scene-ar .description .content-desc p{
    opacity: 0;
    transition: opacity 0.3s linear 0.3s;
} */

.expand {
    padding: 10px 20px !important;
    height: 220px !important;
    width: 130px !important;
    right: 20px !important;
    opacity: 1 !important;
    
}

/* .expand h4, .expand p{
    opacity: 1 !important;
} */

#home main#scene-ar .nav{
    position: absolute;
    bottom: 80px;
    height: auto;
    width: 100%;
}

#home main#scene-ar .nav .btn{
    color: black;
    margin: 20px;
    font-size: 20px;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: white;
    border: 8px solid #ededed;
    border-radius: 50px;
    padding: 0px 5px;
}

#home main#scene-ar .nav .right{
    float: right;
}

#home main#scene-ar .nav .prod-name{
    position: absolute;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    width: 100px;
    height: 50px;
    bottom: 10px;
    color: white;
    font-size: 24px;
    font-weight: 800;
    text-shadow: 1px 1px 1px black;
    width: 140px;
    text-align: center;
    font-family: 'MontserratMedium';
}

@media only screen and (max-width: 321px) {
    #home .products .product-container .image-container .image{
        transform: scale(0.8);
    }
    #home .products .product-container .image-container {
        width: 33%;
    }

    #home .products .product-container .product-content {
        width: 67%;
    }
  }